/* ImageContainer.css */

.image-container-app {
  position: relative;
  overflow: hidden;
  /* width: 300px; /* Adjust the width as needed */
  /* height: 200px; Adjust the height as needed */
}

.overlay-app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Adjust the opacity as needed */
}

.background-image-app {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container-app {
  position: absolute;
  align-self: end;
  top: 10%; /* Adjust the distance from the bottom */
  right: 5%; /* Adjust the distance from the left */
  width: 30%; /* Adjust the width as needed */
}

.text-app {
  font-size: 80px; /* Adjust font size as needed */
  font-weight: bold;
  margin: 0;
  text-align: right; /* Align text to the left */
    color: #365486;

}

.apply-button-app {
  background-color: #365486; /* Green background color, adjust as needed */
  color: #DCF2F1; /* White text color */
  padding: 10px; /* Adjust padding as needed */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 40px;
  margin-top: 200px; /* Adjust the distance from the text */
    margin-left: -25%; /* Adjust the distance from the left */
}

.apply-button-app:hover {
  background-color: #DCF2F1; /* White background color */
  color: #365486; /* Green text color */
}

.apply-button-app:active {
  background-color: #365486; /* Green background color */
  color: #DCF2F1; /* White text color */
}
